
@{
    ViewBag.Title = "404 Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="py-5" style="margin-top: 100px;">
        <h2 class="text-white text-center">Uh oh... the page you were looking for must've gone up in</h2>
        <img src="~/Content/img/Logo.png" style="display: block; width: 100%; max-width: 400px; margin: 20px auto;" />
    </section>
</div>

