body {
    background-color: #121212;
    color: #FFF;
}

a {
    color: #59B7F5;
}

a:focus,
a:hover {
    color: #59B7F5;
}

.table {
    color: #FFF;
}

hr {
    border-top: 1px solid rgba(250,250,250,.1);
}

.btn:not(.btn-link) {
    color: #FFF;
    border: 1px solid #FFF;
}

.btn:hover {
    color: #59B7F5;
}

.btn-dark:hover {
    background-color: #121212;
}

.btn-outline-light:hover {
    color: #121212;
}

.gray-bg {
    background: #444 !important;
}

.black-bg {
    background: #121212;
}

header {
    border-bottom: 1px solid rgba(250,250,250,.1);
}

footer {
    border-top: 1px solid rgba(250,250,250,.1);
}

.logo {
    width: 100%;
    max-width: 90px;
    margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #59B7F5;
}

.navbar .dropdown-menu {
    border-color: #59B7F5;
}

.navbar .dropdown-menu::before {
    border-bottom-color: #59B7F5;
}

#logoutForm {
    display: inline-flex;
}

.modal-content {
    border: none;
}

.hero {
    min-height: 26rem;
}

.hero h1.h2,
.title-section h1.h2 {
    color: #59B7F5;
}
.services {
    border: 2px solid #FFF;
}

.title-section {
    background-color: #444;
    border: 2px solid #FFF;
}

.product-overlay .btn-dark,
.product-overlay .btn-outline-dark {
    background-color: transparent;
}

.product-overlay .btn-dark:hover,
.product-overlay .btn-outline-dark:hover {
    background-color: #121212;
}

.order-summary,
.order-total {
    border: 2px solid #FFF;
}

.order-summary h5,
.order-total h5 {
    color: #59B7F5;
}

.breadcrumb {
    background: #444;
}

.breadcrumb-item a {
    color: #FFF;
}


.breadcrumb-item a:focus,
.breadcrumb-item a:hover {
    color: #59B7F5;
}

.services h6 {
    color: #59B7F5;
}

.nav-tabs .nav-item .nav-link {
    background: #121212;
    background-color: #121212;
    color: #FFF;
    border-color: #FFF;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background: #FFF;
    background-color: #FFF;
    color: #121212;
}


